
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/ab.css")"/>

    <title>Andrew Baldridge</title>
</head>
<body>
@*Configuring the navbar*@
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <a href="@Url.Action("Index")" class="navbar-brand">Andrew Baldridge</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="@Url.Action("Index")">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://twitter.com/glen_baldfield" target="_blank">Twitter</a></li>
                            <li><a href="https://www.facebook.com/andrew.g.baldridge" target="_blank">Facebook</a></li>
                            <li><a href="https://www.youtube.com/channel/UCLVRJtokdLVvvOGLUVVJcjA" target="_blank">Youtube</a></li>
                            <li><a href="https://instagram.com/glen_baldfield/" target="_blank">Instagram</a></li>
                        </ul>

                    </li>
                    <li><a href="#">400 Error Test</a></li>
                    <li><a href="#">500 Error Test</a></li>
                    <li><a href="#">Contact Me</a></li>
                </ul>
            </div>
        </div>
    </div>
@*Jumbotron Stuff*@
        <div class="jumbotron">
        <h1>
            Developer, Entrepreneur, Beard Enthusiast
        </h1>
            <br>
            <br>
                <p>
                    I am an I.T. Professional located in Louisville, Kentucky. Currently employed at ZirMed, I am an I.T. Intern within their Engineering
                    department specifically working on internal web apps that are created primarily for monitoring and optimization purposes. As an entreprenuer I
                    am involved in the entrepreneurial community as well as a startup in the hunting industry. As a sports fan and avid outdoorsman, you can usually 
                    find me on a mountain bike trail on the weekends, playing hockey during the week, and as of recently in a tree stand on Saturday mornings
                    looking for my friend Mr. Whitetail Deer.
                </p>
        </div>
@*Grid System and Contents*@
        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img id ="mypicture" src="@Url.Content("~/Content/images/mypicture.jpg")" />
            </div>
            <div class="col-md-4">
                <h2>What is Node.js?</h2>
                <p>
                    js is a server side scripting language from Javascript for use of application building.
                    It is event driven and uses non-blocking in order to have the greatest optimization ability. It operates
                    using Google’s V8, operates on a single thread, and uses event loops and package management.
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    <a href="@Url.Content("~/Content/PDFs/myresume.pdf")" target="_blank" />
                    My resume
                </h2>
            </div>
        </div>
        </div>
        <script src="@Url.Content("~/Scripts/jquery-2.1.4.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
</body>
</html>
