<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width" />
    @*Favicon <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />*@

    @Styles.Render("~/bundles/commoncss")
    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/bootstrap-theme-css")

</head>
<body>
    @Html.Partial("_NavBar")
    @Html.Partial("_Modal")
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/commonjavascript")
    @Scripts.Render("~/bundles/bootstrapjs")

    @Html.Partial("_SideBarButtons")
    @Html.Partial("_GoogleAnalytics")

</body>
</html>
